<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../js/slick.js"></script>
<script type="text/javascript" src="../../js/slick.min.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
  integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
  crossorigin="anonymous"></script>


<script type="text/javascript">

  var locations = [
    ['Bondi Beach', -33.890542, 151.274856, 4],
    ['Coogee Beach', -33.923036, 151.259052, 5],
    ['Cronulla Beach', -34.028249, 151.157507, 3],
    ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
    ['Maroubra Beach', -33.950198, 151.259302, 1]
  ];

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: new google.maps.LatLng(-33.92, 151.25),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function (marker, i) {
      return function () {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
</script>
<script>
  $(document).ready(function () {
    $(".sidenav ul li").dblclick(function () {
      $(".sidenav ul li").removeClass("active");
      $(this).addClass("active");
    });
  });
  $(document).ready(function () {
    $(".right-navbar li").dblclick(function () {
      $("right-navbar li").removeClass("active");
      $(this).addClass("active");
    });
  });
  $('#changePasswordForm2').validate({
    onfocusout: function (element) {
      this.element(element);
    },
    errorClass: 'error_validate',
    errorElement: 'span',
    errorColor: 'red',
    highlight: function (element, errorClass) {
      $(element).removeClass(errorClass);
    },
    submitHandler: function (form) {
      // $('#submit').attr('disabled', true);
      //$('#changePasswordForm').submit(function (e) {
      //e.preventDefault();
      var formData = $('#changePasswordForm2').serialize();
      console.log('formData:', formData)
      $.ajax({
        type: "POST",
        data: formData,
        url: "/api/professional-change-password",
        cache: false,
        success: function (data) {
          console.log(data);
          if (data.status == true) {
            $('#changePasswordModal').modal('hide');
            // $('.complaint_msg').html('<div class="isa_success"><i class="fa fa-check"></i> '+data.message+'</div>')
            // setTimeout(function () {
            //   location.reload(true);
            // }, 4000);
            Swal.fire({
              // position: 'top-end',
              icon: 'success',
              title: data.message,
              showConfirmButton: false,
              confirmButtonColor: '#005377',
              timer: 4000
            })
          } else {

            Swal.fire({
              icon: 'error',
              title: data.message,
              showConfirmButton: false,
              confirmButtonColor: '#005377',
              timer: 4000
            })

            //$('.complaint_msg').html('<div class="isa_error"><i class="fa fa-check"></i> '+data.message+'</div>')
          }
        }
      });
      //location.reload(true);

    }
  });

  function editProfile(user_id) {

    $.ajax({
      type: "GET",
      data: { user_id },
      url: "/getPersonalProfile",
      cache: false,
      success: function (data) {
        console.log(data)
        var htmlData = '';

      }
    });
    $.ajax({
      type: "GET",
      data: { user_id },
      url: "/getOtherProfile",
      cache: false,
      success: function (data) {
        console.log(data)
        var htmlData = '';
      }
    });
    $.ajax({
      type: "GET",
      data: { user_id },
      url: "/getEducationdetails",
      cache: false,
      success: function (data) {
        console.log(data)
        var htmlData = '';
      }
    });
    $.ajax({
      type: "GET",
      data: { user_id },
      url: "/getEmploymenthistorydetails",
      cache: false,
      success: function (data) {
        console.log(data)
        var htmlData = '';
      }
    });
    $.ajax({
      type: "GET",
      data: { user_id },
      url: "/getReferencedetails",
      cache: false,
      success: function (data) {
        console.log(data)
        var htmlData = '';
      }
    });
    $.ajax({
      type: "GET",
      data: { user_id },
      url: "/getIdentimitydetails",
      cache: false,
      success: function (data) {
        console.log(data)
        var htmlData = '';
      }
    });
    $.ajax({
      type: "GET",
      data: { user_id },
      url: "/getLanguagedetails",
      cache: false,
      success: function (data) {
        console.log(data)
        var htmlData = '';
      }
    });
  }
</script>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<script>
  $(document).ready(function () {
    $("#submit_proposal_form").on('submit', function (e) {
      e.preventDefault()
      //var formData = $("#submit_proposal_form").serialize();
      var formData = new FormData($('#submit_proposal_form')[0]);
      console.log(formData)
      //return;
      // alert(formData);
      $('.loader-box').attr('style', 'display:flex !important');
      if (formData) {
        $.ajax({
          type: "POST",
          data: formData,
          url: "/submit-proposal",
          cache: false,
          contentType: false,
          processData: false,
          success: function (data) {
            if (data.status == false) {
              $('.loader-box').attr('style', 'display:none !important');
              Swal.fire({
                // position: 'top-end',
                icon: 'error',
                title: data.message,
                showConfirmButton: true,
                confirmButtonColor: '#005377'
                //timer: 1500
              })
            } else {
              $('.loader-box').attr('style', 'display:none !important');
              console.log('meserrmessagesage:', data.message)


              Swal.fire({
                // position: 'top-end',
                icon: 'success',
                title: data.message,
                showConfirmButton: false,
                confirmButtonColor: '#005377',
                timer: 3000
              })
              location.reload(true)
              $('#notes,#duedate').val('')
            }

          }
        });

      } else {
        alert('some thing wrong')
      }
    });
  })
</script>
<script>
  $('#button').on('click', function () {
    $('#file-input').trigger('click');
  });
</script>
<script>
  $(document).ready(function () {
    var c = 2;
    $("a[name='addPlusbtn']").click(function (e) {
      e.preventDefault();


      var domElement = $(' <div class="row"><div class="input-box-size-fix2"><input type="text" class="form-control property-input-size-fix " id="address" placeholder="MileStone 2" name="milestone" required></div><div class="input-box-size-fix2"> <input type="date"  class="form-control property-input-size-fix "                id="Date" placeholder="Date" name="milestonedate" required></div><a class="btn property-add-btn remove_field"><i class="fa fa-minus"></i></a></div>' + c++);
      if (c == 10) {
        $("a[name='addPlusbtn']").attr('disabled', true);
      }
      $(".divv").before(domElement);

    });
    $('.row').on("click", ".remove_field", function (e) { //user click on remove text
      e.preventDefault(); $(this).parent('div').remove(); c--;

      $("a[name='addPlusbtn']").attr('disabled', false);

    })


  });
</script>

<script>
  function scrollToBottom() {
    var objDiv = document.getElementById("message_board");
    objDiv.scrollTop = objDiv.scrollHeight;
  }
  $('#chat_submit').click(function (e) {
    var comment = $("#comment").val();
    var professional_id = $("#chat_form #professional_id").val();
    var customer_id = $("#customer_id").val();
    var property_id = $("#chat_form #property_id").val();
    console.log('professional_id:', professional_id);
    console.log('customer_id:', customer_id);
    console.log('property_id:', property_id);
    console.log('comment:', comment);
    if (comment) {
      $.ajax({
        type: "POST",
        data: {
          message: comment.trim(),
          sms_receiver_id: customer_id,
          sms_property_id: property_id,
          sms_sender_id: professional_id,
          sms_sender_type: 'service_provider',
          sms_receiver_type: 'customer',
          sms_msg_Date: new Date(),
          sms_read_status: 'unread'
        },
        url: "/api/service-provider-message",
        cache: false,
        beforeSend: function () {
          $("#comment").val('');
          var imageData = '';
          var sessionImg = '<%=session.imagename%>';
          console.log('teeee:', sessionImg);
          if (sessionImg) {
            imageData = '<img src="../upload/' + sessionImg + '" alt="" title="">';
          } else {
            imageData = '<img src="../images/img_avatar.png" alt="" title="">';
          }
          htmlData = '<div class="messages-box clearfix"><div class="message-user-img">' + imageData + '</div><div class="message-content"><h3><%=session.name%></h3><p>' + comment.trim() + '</p><p class="hours-ago text-right">just now</p></div></div>';
          $('.old_message_section').append(htmlData);
          $("#message_board").stop().animate({ scrollTop: $("#message_board")[0].scrollHeight }, 1000);
        },
        success: function (data) {
          console.log('msgdata:', data);
          jQuery('#chat_form #msgcount').val(data.countMsg);
          // $(".latest_msg").html('');
          //getAllMessage_sp(customer_id, professional_id, property_id);
        }
      });
    }
  });

  //$('#chat_form').click(function (e) {
  $('#chat_form #comment').on('click', function () {
    console.log('messg staus')
    var professional_id = $("#chat_form #professional_id").val();
    var customer_id = $("#customer_id").val();
    var property_id = $("#chat_form #property_id").val();
    console.log('professional_id:', professional_id);
    console.log('customer_id:', customer_id);
    console.log('property_id:', property_id);
    $.ajax({
      type: "POST",
      data: {
        sms_receiver_id: professional_id,
        sms_property_id: property_id,
        sms_sender_id: customer_id,
        sms_sender_type: 'customer',
        sms_receiver_type: 'service_provider',
        sms_read_status: 'read'
      },
      url: "/api/service-provider-message-unread",
      cache: false,
      success: function (data) {
        $("#comment").val('');
      }
    });
  });
  $(document).ready(function () {
    console.log('Welcome data');
    $.ajax({
      type: "GET",
      data: {
        ns_receiver: '<%= session.user_id %>',
        ns_receiver_type: 'service_provider',
        ns_read_status: 'unseen',
      },
      url: "/service-provider/get-notification",
      cache: false,
      success: function (data) {
        console.log('notification:', data.notifData);
        $('.totalNotification .badge').text((parseInt(data.notifData.length) - parseInt(1)));
        if (data.notifData.length > 0) {
          $.each(data.notifData, function (i, notidata) {
            if (notidata != null) {
              // if(notidata.image){
              //   img = '../../upload/'+notidata.image;
              // }else{
              //   img = '../../images/img_avatar.png';
              // }
              // var notoficationData = '<li><div> <img src="'+img+'" alt="" title=""><div><h6>'+notidata.name+'</h6> <p>Sent a new message.</p></div></div> </li>';
              // $('.notify-drop').prepend(notoficationData);

              let img = '';
              let link = '';
              if (notidata.image) { img = '../../upload/' + notidata.image; } else { img = '../../images/img_avatar.png'; }
              if (notidata.property_id) { link = '/service-provider/professionals-detail-message?id=' + notidata.property_id + '&pid=' + notidata.sender_id; } else { link = '/service-provider/professionals-detail-message?id=' + notidata.reciver_id + '&pid=' + notidata.sender_id; }
              var notoficationData = '<a onclick="notificationUpdateClick(' + i + ')" data-property="' + notidata.property_id + '" data-reciver="' + notidata.reciver_id + '" data-sender="' + notidata.sender_id + '" class="notification_' + i + '" data-href="' + link + '" href="javascript:void(0)"><li><div> <img src="' + img + '" alt="" title=""><div><h6>' + notidata.name + '</h6> <p>Sent a new message.</p></div></div></li> </a>';
              $('.notify-drop').prepend(notoficationData);

            }
          });
        }

        if (data.notifData.length > 10) {
          $('.notify-drop .read_all_notification').show();
        }

      }
    });
  });


  function notificationUpdateClick(i) {
    //alert(i);
    var dataLink = $('.notification_' + i).data('href');
    var property_id = $('.notification_' + i).data('property');
    var professional_id = $('.notification_' + i).data('reciver');
    var customer_id = $('.notification_' + i).data('sender');
    console.log('Customer messg staus')
    console.log('professional_id:', professional_id);
    console.log('customer_id:', customer_id);
    console.log('property_id:', property_id);
    $.ajax({
      type: "POST",
      data: {
        sms_receiver_id: professional_id,
        sms_property_id: property_id,
        sms_sender_id: customer_id,
        sms_sender_type: 'customer',
        sms_receiver_type: 'service_provider',
        sms_read_status: 'read'
      },
      url: "/api/service-provider-message-unread",
      cache: false,
      success: function (data) {
        console.log('notificationUpdate success')
        window.location.href = dataLink;
      }
    });
  }


</script>

<script>$(document).ready(function () {
    $(".buyertab").click(function (e) {
      $.ajax({
        type: "GET",
        url: "/buyer",
        cache: false,
        success: function (html) {
        }
      });
      location.reload(true);
    });
    $(".sellertab").click(function (e) {
      $.ajax({
        type: "GET",
        url: "/seller",
        cache: false,
        success: function (html) {
        }
      });
      location.reload(true);
    });
    $(".renovatortab").click(function (e) {
      $.ajax({
        type: "GET",
        url: "/renovator",
        cache: false,
        success: function (html) {
        }
      });
      location.reload(true);
    });
  })</script>