<ul class="dashboard-nav">
  <li class="<%if(session.pagename=='service-provider/dashboard-professional'){%>active<%}%>">
    <a href="/service-provider/dashboard-professional"><img class="act-img" src="../images/dashboard-active.png"><img
        src="../images/dashboard.png"> Dashboard</a>
  </li>
  <li class="<%if(session.pagename=='service-provider/track-your-progress-professionals'){%>active<%}%>">
    <a href="/service-provider/track-your-progress-professionals"><img class="act-img"
        src="../images/track-active.png"><img src="../images/track.png"> Track your progress</a>
  </li>
  <li class="<%if(session.pagename=='service-provider/property'){%>active<%}%>">
    <a href="/service-provider/property"><img class="act-img" src="../images/dreamhome-active.png"><img
        src="../images/dreamhome.png">
      Properties</a>
  </li>
  <li class="<%if(session.pagename=='service-provider/complaints-professional'){%>active<%}%>">
    <a href="/service-provider/complaints-professional"><img class="act-img" src="../images/complaints-active.png"><img
        src="../images/complaints.png">
      Complaints</a>
  </li>

  <li class="<%if(session.pagename=='service-provider/professionals-to-do-list'){%>active<%}%>">
    <a href="/service-provider/professionals-to-do-list"><img class="act-img" src="../images/to-do-list-active.png"><img
        src="../images/to-do-list.png"> To do list</a>
  </li>
</ul>