<%- include('header') -%>
  <!-- banner start -->

  <!-- header start -->
  <header class="home-page">
    <div class="container">
      <div class="top-btn-mobile desktop-none">
        <ul>
          <li class="nav-item">
            <a class="btn btn-find head-btn" href="#">Find service providers</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-signin head-btn" href="/signin-intro">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-signup head-btn" href="/intro">Sign up</a>
          </li>
          <li class="nav-item">
            <a href="#"><img src="images/help.png" alt="" title=""></a>
          </li>
        </ul>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/index"><img src="images/logo.png" alt="" title="Relai"
            class="d-inline-block align-top" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/buy-sell">Buy/Sell <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/renovate">Renovate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/how-it-works">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/support">Support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/community">Community</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about-us">About us</a>
            </li>
            <li class="nav-item mobile-none">
              <a class="nav-link btn btn-find head-btn" href="#">Find service providers</a>
            </li>
            <li class="nav-item mobile-none">
              <a class="nav-link btn btn-signin head-btn" href="/signin-intro">Sign in</a>
            </li>
            <li class="nav-item mobile-none">
              <a class="nav-link btn btn-signup head-btn" href="/intro">Sign up</a>
            </li>
            <li class="nav-item mobile-none">
              <a class="" href="#"><img src="images/help.png" alt="" title=""></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- header end -->
  <section class="banner banner-blue-bg">
    <div class="container">
      <div class="row ">
        <div class="col-xs-12 col-sm-12 col-lg-6 m-auto">
          <div class="outer-banner-team">
            <img src="images/team.png">
            <div class="main-content team">
              <div class="text-center">
                <h3>About us</h3>
                <p>Home <span>></span> About us</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <div class="about-us-sec">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="content-section">
              <h3>Who We Are</h3>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor
                sit amet, consectetur</h5>
              <p>On RelAi you’ll find a range of top freelancers and agencies, fOn RelAi you’ll find a range of top
                freelancers and agencies, fOn RelAi you’ll find a range of top freelancers and agencies, fOn RelAi
                you’ll find a range of top
                freelancers and agencies, On RelAi you’ll find a range of top freelancers and agencies, fOn RelAi you’ll
                find a range of top
                freelancers and agencies, f</p>
              <img src="images/signature.png">
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="img-sec">
              <img src="images/about-us.png">
            </div>
          </div>
        </div>

        <div class="row mission-sec">
          <div class="col-sm-12 col-lg-1 ">
            <div class="about-us-icon-fix float-right"><img src="images/about-us-icon.png"></div>
          </div>
          <div class="col-sm-12 col-lg-5">
            <div class="about-us-sec">

              <h3>Our Mission</h3>
              <p>Donec in dui pellentesque turpis dapibus egestas aenean tellusDonec in dui pellentesque turpis
                dapibus egestas aenean tellus</p>

            </div>
          </div>
          <div class="col-sm-12 col-lg-1 ">
            <div class="about-us-icon-fix float-right"><img src="images/about-us-3.png"></div>
          </div>
          <div class="col-sm-12 col-lg-5">
            <div class="about-us-sec">

              <h3>Our Vision</h3>
              <p>Donec in dui pellentesque turpis dapibus egestas aenean tellusDonec in dui pellentesque turpis
                dapibus egestas aenean tellus</p>

            </div>
          </div>
        </div>

        <section class="client-counter">
          <div class="container">
            <div class="inner-counter animate__animated animate__fadeInUp wow fadeInUp">
              <div class="row text-center">
                <div class="col">
                  <div class="counter">
                    <h3 class="timer count-title count-number" data-to="12239" data-speed="1500"></h3>
                    <p class="count-text ">active service providers</p>
                  </div>
                </div>
                <div class="col">
                  <div class="counter">
                    <h3 class="timer count-title count-number" data-to="5980" data-speed="1500"></h3>
                    <p class="count-text ">clients</p>
                  </div>
                </div>
                <div class="col">
                  <div class="counter">
                    <h3 class="timer count-title count-number" data-to="226998" data-speed="1500"></h3>
                    <p class="count-text ">completed projects</p>
                  </div>
                </div>
                <div class="col">
                  <div class="counter">
                    <h3 class="timer count-title count-number" data-to="1659" data-speed="1500"></h3>
                    <p class="count-text ">skills & growing</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="img-sec">
              <img src="images/about-us-2.png">
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="content-section">
              <div class="row">
                <div class=" col-md-6">
                  <div class="teams-heading ">
                    <p>Feature</p>
                    <h3>Discover our history </h3>
                  </div>
                </div>
              </div>
              <p>Invite favorite candidates to submit bids, then review and hire</p>
              <p>Invite favorite candidates to submit bids, then review and hire Invite favorite candidates to submit
                bids, then review and hireInvite favorite candidates to submit bids, then review and hire</p>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- banner end -->
  <!-- brand logo start-->
  <section class="brand-logo">
    <div class="container">
      <p>Trusted by <span>100k+ people</span></p>
      <div class="brand-bg animate__animated animate__zoomIn wow zoomIn">
        <ul class="brand-list">
          <li><a href="#"><img src="images/brand-1.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-2.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-3.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-4.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-1.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-3.png" alt="" title=""></a></li>
        </ul>
      </div>
    </div>
  </section>
  <%- include('footer') -%>