<div class="profile-dropdown">
  <a href="#" class="add-professionals">Add/Remove Professionals</a>
  <div class="professional-dropdown">
    <a href="/professionals">Add
      Professionals</a>
    <a href="#" data-toggle="modal" data-target="#removeProfessionalModal">Remove
      Professionals</a>
  </div>
</div>