<%- include('header') -%>
  <!-- banner start -->
  <section class="banner buy-sell">
    <div class="container">
      <div class="row ">
        <div class="col-xs-12 col-sm-12 col-lg-8">
          <div class="main-content ">

            <h2>Find all qualified professionals to purchase/sale your home and go to completion in few clicks!</h2>
            <a href="#" class="btn btn-become">Get Started</a>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="content-sec">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-3">
          <div class="content-block">
            <div class="content-box">
              <h5>From offer accepted to completion in few clicks :</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="content-block">
            <div class="content-box">
              <h3>Add your property </h3>
              <p>Add the property you want to buy/sell.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="content-block">
            <div class="content-box">
              <h3>Find qualified professionals</h3>
              <p>Find all professionals you need (surveyors, valuers, conveynacers,mortgage brokers etc.)</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="content-block2">
            <div class="content-box">
              <h3>Check progress with RelAi worklfow tool</h3>
              <p>Manage the entire transaction quick and easy with RelAi workflow</p>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- banner end -->
  <!-- brand logo start-->
  <section class="brand-logo">
    <div class="container">
      <p>Trusted by <span>100k+ people</span></p>
      <div class="brand-bg animate__animated animate__zoomIn wow zoomIn">
        <ul class="brand-list">
          <li><a href="#"><img src="images/brand-1.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-2.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-3.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-4.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-1.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-3.png" alt="" title=""></a></li>
        </ul>
      </div>
    </div>
  </section>
  <%- include('footer') -%>