<%- include('header') -%>
  <!-- banner start -->
  <section class="banner community">
    <div class="container">
      <div class="row ">
        <div class="col-xs-12 col-sm-12 col-lg-5">
          <div class="main-content ">

            <h2>Interested in real estate? <br />Keep in touch with the RelAi community and know more</h2>
            <a href="#" class="btn btn-become">Get Started</a>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content-sec">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-3">
          <div class="content-block">
            <div class="content-box">
              <h5>Do you want to share your interests?</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="content-block">
            <div class="content-box">
              <h3>Propose a topic for discussion</h3>
              <p>Are you are interested in property related subjects and you want to know more? Propose atopic for
                discussion.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="content-block">
            <div class="content-box">
              <h3>Post </h3>
              <p>See/create posts.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="content-block2">
            <div class="content-box">
            </div>
          </div>
        </div>
      </div>

  </section>

  <!-- banner end -->
  <!-- brand logo start-->
  <section class="brand-logo">
    <div class="container">
      <p>Trusted by <span>100k+ people</span></p>
      <div class="brand-bg animate__animated animate__zoomIn wow zoomIn">
        <ul class="brand-list">
          <li><a href="#"><img src="images/brand-1.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-2.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-3.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-4.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-1.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-3.png" alt="" title=""></a></li>
        </ul>
      </div>
    </div>
  </section>
  <%- include('footer') -%>