<span>
  <div class="profile-dropdown">
    <i class="fa fa-pencil editbtn"></i>
    <div class="dropdown-content">
      <a href="#" data-toggle="modal" data-target="#todoNotesModal<%=row._id%>">View Notes</a>
      <a href="#" data-toggle="modal" data-target="#editTask">Edit-task</a>
      <a href="#" data-toggle="model" data-target="#vewLogs">View Logs</a>
    </div>
  </div>

</span>