<%- include('head')-%>
  <section style="overflow: hidden;">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-lg-6  p-0">
          <div class="signup">
            <div class="clearfix header-login">
              <div class="logo-signup float-left">
                <a class="navbar-brand" href="/index"><img src="images/logo-2.png" class="d-inline-block align-top"></a>
              </div>
              <div class="float-right">
                <a href="/signin-professional" class="signin text-right">
                  <button type="submit" class="btn btn-sign">SIGN IN</button>
                </a>
              </div>
            </div>
            <p>Forgot Password</p>
            <h1>Enter Registerd Email-id</h1>
            <form class="form" action="/api/forget-password-professional" id="forget-password-professional"
              method="post">
              <% if(typeof err_msg!='undefined' ){ %>
                <span class="error_validate flash_msg" style="color: red;">
                  <%= err_msg %>
                </span>
                <% }%>
                  <% if(typeof success_msg!='undefined' ){ %>
                    <span class="succ_flash_msg" style="color: green;">
                      <%= success_msg %>
                    </span>
                    <% }%>
                      <div class="form-group ">
                        <input type="email" class="form-control signin-form-control" id="email" placeholder="Email ID"
                          name="sps_email_id">
                      </div>

                      <br />
                      <div class="signin-submit">
                        <!-- <a href="/otp" class="btn signin-submit-btn">SUBMIT</a> -->
                        <button type="submit" name="submit" class="btn signin-submit-btn">SUBMIT</button>
                      </div>
                      <br />
            </form>
          </div>
        </div>

        <div class="col-md-6">
          <div class="login-slider">
            <div class="item">
              <img src="images/sinup/enjoy.png" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="find-slider">Enjoy RelAi’s services
                  for your business</h5>
              </div>
            </div>
            <div class="item">
              <img src="images/sinup/find.png" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="find-slider">Find the customers for
                  your services.</h5>
              </div>
            </div>
            <div class="item">
              <img src="images/sinup/upload.png" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="find-slider">Upload your portfolio</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>



  <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../js/slick.js"></script>
  <script type="text/javascript" src="../js/slick.min.js"></script>

  <script type="text/javascript">
    $(".login-slider").slick({
      dots: true,
      autoplay: true,
      autoplaySpeed: 3000,
      infinite: true,
      arrows: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '40px',
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '40px',
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

  </script>


  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
    integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $(".sidenav ul li").click(function () {
        $(".sidenav ul li").removeClass("active");
        $(this).addClass("active");
      });
    });
    $(document).ready(function () {
      $(".right-navbar li").click(function () {
        $("right-navbar li").removeClass("active");
        $(this).addClass("active");
      });
    });
    $('#forget-password-professional').validate({
      onfocusout: function (element) {
        this.element(element);
      },
      errorClass: 'error_validate',
      errorElement: 'span',
      errorColor: 'red',
      highlight: function (element, errorClass) {
        $(element).removeClass(errorClass);
      },
      submitHandler: function (form) {
        $('.loader-box').attr('style', 'display:flex !important');
        var formData = $('#forget-password-professional').serialize();
        console.log('formData:', formData)
        $.ajax({
          type: "POST",
          data: formData,
          url: "/api/forget-password-professional",
          cache: false,
          success: function (data) {
            console.log(data);
            if (data.status == false) {
              $('.loader-box').attr('style', 'display:none !important');
              Swal.fire({
                icon: 'error',
                title: data.message,
                showConfirmButton: false,
                confirmButtonColor: '#005377',
                timer: 4000
              })

            } else {
              $('.loader-box').attr('style', 'display:none !important');
              Swal.fire({

                icon: 'success',
                title: data.message,
                showConfirmButton: true,
                confirmButtonColor: '#005377',
                //timer: 4000
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.href = "/signin-professional";
                }
              })


            }
          }
        });


      }
    });

  </script>
  </body>

  </html>