<script>
  $(document).ready(function () {
    $(".sidenav ul li").click(function () {
      $(".sidenav ul li").removeClass("active");
      $(this).addClass("active");
    });
  });
  $(document).ready(function () {
    $(".right-navbar li").click(function () {
      $("right-navbar li").removeClass("active");
      $(this).addClass("active");
    });
  });

  $('#mycomplent_form').validate({
    onfocusout: function (element) {
      this.element(element);
    },
    errorClass: 'error_validate',
    errorElement: 'span',
    errorColor: 'red',
    highlight: function (element, errorClass) {
      $(element).removeClass(errorClass);
    },
    submitHandler: function (form) {
      $('#submit').attr('disabled', true);
      //form.submit();
      $('.loader-box').attr('style','display:flex !important');
      var formData = new FormData($('#mycomplent_form')[0]);
      console.log('formData:', formData)
      $.ajax({
        type: "POST",
        data: formData,
        url: "/api/new-raise-a-complaint",
        cache: false,
        contentType: false,
        processData: false,
        success: function (data) {
          console.log(data);
          if (data.status == true) {
            $('.loader-box').attr('style','display:none !important');
            //$('.complaint_msg').html('<div class="isa_success"><i class="fa fa-check"></i> ' + data.message + '</div>')
            $('#MyComplaintModal').modal('hide');
              Swal.fire({
                   // position: 'top-end',
                    icon: 'success',
                    title: data.message,
                    showConfirmButton: false,
                    confirmButtonColor: '#005377',
                    timer: 5000
              })
           setTimeout(function () {
              location.reload(true);
            }, 5000);

          } else {
            $('.loader-box').attr('style','display:none !important');
            Swal.fire({
                    icon: 'error',
                    title: data.message,
                    showConfirmButton: false,
                    confirmButtonColor: '#005377',
                    timer: 3000
            })
            //$('.complaint_msg').html('<div class="isa_error"><i class="fa fa-check"></i> ' + data.message + '</div>')
          }
        }
      });
    }
  });

  $("#coms_complaint_help").change(function () {
    // var propertyId = $('option:selected', this).attr('property-id');
    var coms_complaint_help = this.value;
    if (coms_complaint_help == 'Property Related Enquiry') {
      $.ajax({
        type: "GET",
        url: "/property-related-enquiry-proprty-list",
        cache: false,
        success: function (html) {
          $('#property_id').show();
          console.log('result:', html)
          var htmlData = '';
          htmlData += '<option value="">Select Property</option>';
          if (html.propertyData.length > 0) {
            $.each(html.propertyData, function (i, data) {
              console.log('val:', data)
              htmlData += '<option value="' + data._id + '">' + data.ps_property_name + '</option>';
            });
          }
          $('#property_id').html(htmlData);
        }
      });
    } else {
      $('#property_id,#coms_complaint_for').hide();
      $('#property_id,#coms_complaint_for').html('');

    }
  })

  function previewFile1(input){
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              console.log('filess:',input.files[0])
              if(input.files[0].type == 'image/jpeg' || input.files[0].type == 'image/png' || input.files[0].type == 'image/gif'){
                $('#uploaded_img').attr('src', e.target.result);
              }else if(input.files[0].type == 'application/pdf'){
                $('#uploaded_img').attr('src', 'images/pdficon.png');
              }else{
                 Swal.fire({
                    icon: 'error',
                    title: 'File type not supported !!',
                    showConfirmButton: false,
                    confirmButtonColor: '#005377',
                    timer: 3000
                  })
              }
              $('.imgcompaint_name').text(input.files[0].name);
               // $('#uploaded_img').html('<li style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><a href="#"><img src="'+e.target.result+'" alt="" title=""><br><span>'+input.files[0].name+'</span></a></li>');
            }
            reader.readAsDataURL(input.files[0]);
        }
  }


  $("#property_id").change(function () {
    var property_id = this.value;
    $.ajax({
      type: "GET",
      url: "/service-provider-by-property",
      data: {
        property_id: property_id
      },
      cache: false,
      success: function (html) {
        $('#coms_complaint_for').show();
        console.log('result:', html)
        var htmlData = '';
        htmlData += '<option value="">Select Professional</option>';
        if (html.hireServiceData.length > 0) {
          $.each(html.hireServiceData, function (i, data) {
            console.log('val:', data[0])
            htmlData += '<option value="' + data[0]._id + '">' + data[0].sps_fullname + '</option>';
          });
        }
        $('#coms_complaint_for').html(htmlData);
      }
    });
  })
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

</script>