<div class="user-profile">
  <% if(session.imagename=='' ){%>
    <img src="images/img_avatar.png" alt="" class="profile-image" title="">
    <%} else{%>
      <img src="/upload/<%= session.imagename%>" alt="" title="" class="profile-image" value="">
      <%} %>
</div>