
<ul class="dashboard-nav">
      <li class="<%if(session.pagename=='dashboard'){%>active<%}%>">
        <a href="/dashboard"><img class="act-img" src="images/dashboard-active.png"><img
            src="images/dashboard.png"> Dashboard</a>
      </li>
      <li class="<%if(session.pagename=='track-your-progress'){%>active<%}%>">
        <a href="/track-your-progress"><img class="act-img" src="images/track-active.png"><img
            src="images/track.png"> Track your progress</a>
      </li>
      <li class="<%if(session.pagename=='professionals'){%>active<%}%>" >
        <a href="/professionals"><img class="act-img" src="images/professionals-active.png"><img
            src="images/professionals.png"> Professionals</a>
      </li>
      <li class="<%if(session.pagename=='mydreamhome'){%>active<%}%>">
        <a href="/mydreamhome"><img class="act-img" src="images/dreamhome-active.png"><img
            src="images/dreamhome.png"> My dream home</a>
      </li>
      <!-- <li class="<%if(session.pagename=='mydreamhome-details-to-dos'){%>active<%}%>">
        <a href="/mydreamhome-details-to-dos"><img class="act-img" src="images/to-do-list-active.png"><img
            src="images/to-do-list.png"> To do list </a>
      </li> -->
      <li class="<%if(session.pagename=='to-do-list'){%>active<%}%>">
            <a href="/to-do-list"><img class="act-img" src="images/to-do-list-active.png"><img
                src="images/to-do-list.png"> To do list </a>
          </li>
      <li class="<%if(session.pagename=='complaints'){%>active<%}%>">
        <a href="/complaints"><img class="act-img" src="images/complaints-active.png"><img
            src="images/complaints.png"> My Complaint</a>
      </li>
</ul>