<%- include('head')-%>
  <div class="wrapper dashboard">
    <nav class="navbar navbar-expand-lg d-block d-xs-none d-lg-none">
      <a class="navbar-brand" href="/index"><img src="images/logo-2.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="user-right">
        <ul class="login-menu">
          <li class="dropdown"><a href="#" class="dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/recent-user-1.png"
                width="40" height="40" class="rounded-circle"> John <i class="fa fa-angle-down"
                aria-hidden="true"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Setting</a>
              <a class="dropdown-item" href="#">Account</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/signup-professionals-profile"><img class="act-img" src="images/1-active.png"><img
                src="images/1.png">PERSONAL DETAILS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup-professionals-profile-2"><img class="act-img"
                src="images/2-active.png"><img src="images/2.png"> OTHER DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup-professionals-profile-3"><img class="act-img"
                src="images/3-active.png"><img src="images/3.png"> EDUCATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup-professionals-profile-4"><img class="act-img"
                src="images/4-active.png"><img src="images/4.png"> EMPLOYMENT HISTORY</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/signup-professionals-profile-5"><img class="act-img"
                src="images/5-active.png"><img src="images/5.png"> REFERENCES</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/signup-professionals-profile-6"><img class="act-img"
                src="images/6-active.png"><img src="images/6.png"> PROFESSIONAL INDEMNITY
              INSURANCE</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/signup-professionals-profile-7"><img class="act-img"
                src="images/7-active.png"><img src="images/7.png"> LANGUAGE</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-3 sidenav2 hidden-xs-down">
            <div class=" text-center">
              <div class="">
                <a href="/index"><img src="images/logo-2.png"></a>
              </div>

            </div>
            <ul class="dashboard-nav">
              <li class="completed">
                <a href="/signup-professionals-profile">
                  <img class="complete-img" src="images/checked.png">
                  <img class="act-img" src="images/1-active.png">
                  <img src="images/1.png">
                  PERSONAL DETAILS
                </a>
              </li>
              <li class="completed">
                <a href="/signup-professionals-profile-2">
                  <img class="complete-img" src="images/checked.png">
                  <img class="act-img" src="images/2-active.png">
                  <img src="images/2.png"> OTHER DETAILS</a>
              </li>
              <li class="completed">
                <a href="/signup-professionals-profile-3">
                  <img class="complete-img" src="images/checked.png">
                  <img class="act-img" src="images/3-active.png">
                  <img src="images/3.png"> EDUCATION</a>
              </li>
              <li class="completed">
                <a href="/signup-professionals-profile-4">
                  <img class="complete-img" src="images/checked.png">
                  <img class="act-img" src="images/4-active.png">
                  <img src="images/4.png"> EMPLOYMENT HISTORY</a>
              </li>
              <li class="completed">
                <a href="/signup-professionals-profile-5">
                  <img class="complete-img" src="images/checked.png">
                  <img class="act-img" src="images/5-active.png">
                  <img src="images/5.png"> REFERENCES</a>
              </li>
              <li class="active">
                <a href="/signup-professionals-profile-7"><img class="act-img" src="images/7-active.png"><img
                    src="images/7.png"> LANGUAGE</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-12 col-lg-9">
            <div class=" dashboard-inner">
              <div class="row">
                <div class="col-sm-12 col-lg-9">
                  <div class="signup-header">
                    <!-- <p>START FOR FREE</p> -->

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-9">
                  <div class="signup-head">
                    <h3>Languages</h3>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <div class="page-count">
                    <p> 7 of 7</p>
                  </div>
                </div>
              </div>
              <form action="/api/service_provider_language" method="post" class="form form-section" id="form7">

                <% if(typeof err_msg!='undefined' ){ %>
                  <span class="error_validate flash_msg" style="color: red; padding-bottom: 20px;">
                    <%= err_msg %>
                  </span>
                  <% }%>
                    <% if(typeof success_msg!='undefined' ){ %>
                      <span class="succ_flash_msg" style="color: green;">
                        <%= success_msg %>
                      </span>
                      <% }%>
                        <div class="row">
                          <div class="col-sm-12 col-lg-5">
                            <div class="input-box-size-fix3">
                              <select class="form-control " class="text-field-size" id="selectBox" name="spls_language">
                                <option value="0">Select Language</option>
                                <option value="english">English</option>
                                <option value="german">German</option>
                                <option value="french">French</option>
                                <option value="spanish">Spanish</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-5">
                            <div class="input-box-size-fix3">

                              <select class="form-control " class="text-field-size" id="selectBox"
                                name="spls_language_proficiency_level">
                                <option value="0">Select Language Proficiency Level</option>
                                <option value="level1">Level 1 - Elementary Proficiency</option>
                                <option value="level2">Level 2 - Limited Working Proficiency
                                </option>
                                <option value="level3">Level 3 - Professional Working Proficiency
                                </option>
                                <option value="level4">Level 4 - Full Professional Proficiency
                                </option>
                                <option value="level5">Level 5 - Native / Bilingual Proficiency
                                </option>
                              </select>

                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-1">
                            <div class="add-btn">
                              <button class="btn signup-professional7-add-btn" name="addPlusbtn"><i
                                  class="fa fa-plus"></i></button>
                            </div>
                          </div>
                        </div>

                        <div class="divv"></div>
                        <div class="row">
                          <div class="col-6 col-sm-6 col-lg-6">
                            <div class="prev-btn-fix2 float-left">
                              <a href="/signup-professionals-profile-6" class="btn previous-btn" style="width: 164px; ">
                                PREVIOUS</a>
                            </div>
                          </div>


                          <div class="col-6 col-sm-6 col-lg-6">
                            <div class="prev-btn-fix2 float-right">
                              <!-- <a href="portfolio" class="btn btn-next" style="width: 164px;">
                        NEXT</a> -->
                              <button type="submit" name="submit" class="btn btn-next" style="width: 164px;">
                                NEXT</button>
                            </div>
                          </div>

                        </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/countrystatecity.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
    integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('#form7').validate({
      onfocusout: function (element) {
        this.element(element);
      },
      errorClass: 'error_validate',
      errorElement: 'span',
      highlight: function (element, errorClass) {
        $(element).removeClass(errorClass);
      },
      submitHandler: function (form) {
        $('.loader-box').attr('style', 'display:flex !important');
        var formData = $('#form7').serialize();

        console.log('formData:', formData)
        $.ajax({
          type: "POST",
          data: formData,
          url: "/api/service_provider_language",
          cache: false,
          success: function (data) {
            console.log(data);
            if (data.status == false) {
              $('.loader-box').attr('style', 'display:none !important');

              Swal.fire({
                icon: 'error',
                title: data.message,
                showConfirmButton: false,
                confirmButtonColor: '#005377',
                timer: 4000
              })
              if (data.redirectpage == true) {
                setTimeout(function () {
                  //location.reload(true);
                  window.location.href = data.redirect;
                }, 4000);
              }

            } else {
              $('.loader-box').attr('style', 'display:none !important');

              Swal.fire({
                icon: 'success',
                title: data.message,
                showConfirmButton: false,
                confirmButtonColor: '#005377',
                timer: 4000
              })

              setTimeout(function () {
                //location.reload(true);
                window.location.href = "/portfolio";
              }, 4000);

            }
          }
        });

      }
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      var flash_msg = $('.flash_msg').html();
      if (flash_msg != "" && flash_msg != undefined) {
        setTimeout(function () { $('.flash_msg').html(''); }, 4000);
      }
    });

    $(document).ready(function () {
      var succ_flash_msg = $('.succ_flash_msg').html();
      if (succ_flash_msg != "" && succ_flash_msg != undefined) {
        setTimeout(function () { $('.succ_flash_msg').html(''); }, 4000);
      }
    });
  </script>
  <script>
    $(document).ready(function () {
      var c = 2;
      $("button[name='addPlusbtn']").click(function (e) {
        e.preventDefault();

        var domElement = $('<div class="row"> <div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3"><select class="form-control " class="text-field-size" id="selectBox" name="spls_language"><option value="0">Select Language</option>           <option value="english">English</option> <option value="german">German</option>           <option value="french">French</option> <option value="spanish">Spanish</option> </select>  </div> </div> <div class="col-sm-12 col-lg-5"> <div class="input-box-size-fix3">     <select class="form-control " class="text-field-size" id="selectBox"              name="spls_language_proficiency_level"> <option value="0">Select Language Proficiency Level</option><option value="level1">Level 1 - Elementary Proficiency</option>           <option value="level2">Level 2 - Limited Working Proficiency</option><option value="level3">Level 3 - Professional Working Proficiency</option> <option value="level4">Level 4 - Full Professional Proficiency </option> <option value="level5">Level 5 - Native / Bilingual Proficiency </option>  </select> </div> </div></div>' + c++);

        if (c == 5) {

          $("button[name='addPlusbtn']").attr('disabled', true);
        }
        $(".divv").before(domElement);

      });

    });
  </script>
  </body>

  </html>