<%- include('head')-%>
  <section style="overflow: hidden;">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-lg-6 ">
          <div class="signup">
            <div class="clearfix header-login">
              <div class="logo-signup float-left">
                <a class="navbar-brand" href="/index"><img src="images/logo-2.png" class="d-inline-block align-top"></a>
              </div>
              <div class="float-right">
                <a href="/signin-intro" class="signin text-right">
                  <button type="submit" class="btn btn-sign">SIGN IN</button>
                </a>
              </div>
            </div>
            <p>START FOR FREE</p>
            <h1>Customer Registration</h1>
            <form id="registerform" class="form" method="POST" action="#">


              <!-- <% if(typeof err_msg!='undefined' ){ %>
                <span class="error_validate flash_msg" style="color: red; margin-bottom: 10px;">
                  <%= err_msg %>
                </span>
                <% }%>
                  <% if(typeof success_msg!='undefined' ){ %>
                    <span class="succ_flash_msg" style="color: green;">
                      <%= success_msg %>
                    </span>
                    <% }%> -->

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group  ">
                    <input type="hidden" class="form-control " id="token" name="token">
                    <input type="text" class="form-control form-control-size " id="Forename" placeholder="Forename"
                      name="cus_firstname" required data-rule-required="true" data-rule-minlength="2"
                      data-msg-required="Forename is required!">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group  ">
                    <input type="text" class="form-control form-control-size " id="Surname" placeholder="Surname"
                      name="cus_lastname" required data-rule-required="true" data-rule-minlength="2"
                      data-msg-required="Surname is required!">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group  ">
                    <input type="email" class="form-control form-control-size" id="email" placeholder="Email ID"
                      name="cus_email_id" required data-rule-required="true" data-rule-email="true"
                      data-msg-required="Email Id is required." data-msg-email="Please Enter Valid Email-ID.">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="number" class="form-control form-control-size" id="phoneNumber"
                      placeholder="Phone Number" name="cus_phone_number" required data-rule-required="true"
                      data-rule-minlength="10" data-rule-maxlength="12" data-msg-required="PhoneNumber is required!">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group  ">
                    <input type="text" class="form-control form-control-size" id="address" placeholder="Address"
                      name="cus_address" required data-rule-required="true" data-msg-required="Address is required!">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group  ">
                    <select name="country" class="countries form-control selectBox4" id="countryId" required
                      style="height: 44px;" data-rule-required="true" data-msg-required="Country name is required!">
                      <option value="">Select Country</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group  ">
                    <select name="state" class="states form-control selectBox4" id="stateId" required
                      style="height: 44px;" data-rule-required="true" data-msg-required="County name is required!">
                      <option value="">Select County</option>
                    </select>

                    <!-- <input type="text" class="form-control form-control-size" id="city" placeholder="City"
                              name="cus_city" required data-rule-required="true"
                              data-msg-required="City name is required!"> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <select name="city" class="cities form-control selectBox4" id="cityId" required
                      style="height: 44px;" data-rule-required="true" data-msg-required="City name is required!">
                      <option value="">Select City</option>
                    </select>
                    <!-- <input type="text" class="form-control form-control-size" id="country" placeholder="Country"
                              name="cus_country_id" required data-rule-required="true"
                              data-msg-required="Country name is required!"> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group  "><input type="password" class="form-control form-control-size" id="password"
                      placeholder="Password" name="cus_password" required data-rule-required="true"
                      data-rule-minlength="6" data-msg-required="Password is required!">

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <input type="password" class="form-control form-control-size" id="password"
                      placeholder="Confirm password" name="confirmPassword" required data-rule-required="true"
                      data-rule-minlength="6" data-msg-required="Confirm Password is required!">
                  </div>
                </div>
              </div>


              <p class="text-center">By signing up, you agree to the <a href="/termandconditions">terms and
                  conditions</a> of Relai.</p>
              <!-- <a href="/otp" class="btn btn-next">SIGN UP</a> -->
              <button type="submit" name="submit" class="btn btn-next">SIGN UP</button>
              <p class="text-center" style="margin-top :10px">Already have an account? <a href="/signin"> Sign
                  in
                </a> </p>
            </form>
          </div>

        </div>



        <div class="col-md-6">
          <div class="login-slider">
            <div class="item">
              <img src="images/becom1.png" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="find-slider">Find the best service providers for your home</h5>
              </div>
            </div>
            <div class="item">
              <img src="images/becom2.png" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="find-slider">Browse service providers by portfolio</h5>
              </div>
            </div>
            <div class="item">
              <img src="images/becom3.png" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="find-slider">Enjoy RelAi's services for your home</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../js/slick.js"></script>
  <script type="text/javascript" src="../js/slick.min.js"></script>



  <script type="text/javascript">
    $(".login-slider").slick({
      dots: true,
      autoplay: true,
      autoplaySpeed: 3000,
      infinite: true,
      arrows: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '40px',
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '40px',
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/countrystatecity.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
  <script>

    $(document).ready(function () {
      $(".sidenav ul li").click(function () {
        $(".sidenav ul li").removeClass("active");
        $(this).addClass("active");
      });
    });
    $(document).ready(function () {
      $(".right-navbar li").click(function () {
        $("right-navbar li").removeClass("active");
        $(this).addClass("active");
      });
    });

  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
    integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    // $('#registerform').validate({
    //   onfocusout: function (element) {
    //     this.element(element);
    //   },
    //   errorClass: 'error_validate',
    //   errorElement: 'span',
    //   highlight: function (element, errorClass) {
    //     $(element).removeClass(errorClass);
    //   },
    //   submitHandler: function (form) {
    //     $('#submit').attr('disabled', true);
    //     form.submit();
    //   }
    // });

    $('#registerform').validate({
      onfocusout: function (element) {
        this.element(element);
      },
      errorClass: 'error_validate',
      errorElement: 'span',
      errorColor: 'red',
      highlight: function (element, errorClass) {
        $(element).removeClass(errorClass);
      },
      submitHandler: function (form) {
        $('.loader-box').attr('style', 'display:flex !important');
        var formData = $('#registerform').serialize();
        console.log('formData:', formData)
        $.ajax({
          type: "POST",
          data: formData,
          url: "/api/cust_register",
          cache: false,
          success: function (data) {
            console.log(data);
            if (data.status == false) {
              $('.loader-box').attr('style', 'display:none !important');
              Swal.fire({
                icon: 'error',
                title: data.message,
                showConfirmButton: false,
                confirmButtonColor: '#005377',
                timer: 4000
              })

            } else {
              $('.loader-box').attr('style', 'display:none !important');
              Swal.fire({
                icon: 'success',
                title: data.message,
                showConfirmButton: false,
                confirmButtonColor: '#005377',
                timer: 4000
              })

              setTimeout(function () {
                //location.reload(true);
                // window.location.href = "/otp?email=" + data.customers.cus_email_id;
                window.location.href = "/signin"
              }, 4000);

            }
          }
        });


      }
    });

  </script>
  <script>
    jQuery.extend(jQuery.validator.messages, {
      accept: "Please enter a value with a valid extension.",
      maxlength: jQuery.validator.format("Please  don't enter more than {0} digit."),
      minlength: jQuery.validator.format("Please enter at least {0} digit."),
      rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
      range: jQuery.validator.format("Please enter a value between {0} and {1}."),
      max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
      min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      var flash_msg = $('.flash_msg').html();
      if (flash_msg != "" && flash_msg != undefined) {
        setTimeout(function () { $('.flash_msg').html(''); }, 4000);
      }
    });

    $(document).ready(function () {
      var succ_flash_msg = $('.succ_flash_msg').html();
      if (succ_flash_msg != "" && succ_flash_msg != undefined) {
        setTimeout(function () { $('.succ_flash_msg').html(''); }, 4000);
      }
    });  
  </script>
  <div style='margin-left: auto;margin-right: auto;text-align: center;'>
    <br />
    <hr /><br />
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149371669-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-149371669-1');
  </script>
  <script>function getParameterByName(name, url = window.location.href) {
      name = name.replace(/[\[\]]/g, '\\$&');
      var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    var email = getParameterByName('email'); // "lorem"
    var token = getParameterByName('token');
    if (token) {
      $('#token').val(token);
    }
    if (email) {
      $('#email').val(email);
      $('#email').attr('readonly', 'readonly');
    }
    else {
      $('#email').val('');
      $('#email').attrRemove('readonly');
    }

  </script>

  </body>

  </html>