<%- include('header') -%>
  <!-- banner start -->
  <section class="banner banner-blue-bg">
    <div class="container">
      <div class="row ">
        <div class="col-xs-12 col-sm-12 col-lg-6 m-auto">
          <div class="outer-banner-team">
            <img src="images/team.png">
            <div class="main-content team">
              <div class="text-center">
                <h3>Team</h3>
                <p>Home <span>></span> Team</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <div class="row">
        <div class="offset-md-5 col-md-6">
          <div class="teams-heading text-left animate__animated animate__fadeInUp wow fadeInUp">
            <p>Feature</p>
            <h3>Discover our history </h3>
          </div>
        </div>
      </div>
      <div class="row animate__animated animate__zoomIn wow zoomIn">
        <div class="col-sm-6 col-lg-3">
          <div class="new-card">


            <div class="float-left img-fix2">
              <img src="images/team-1.png" alt="">
            </div>
            <div class="card-body team-body">
              <div class="team-name">
                <h5>John Doe</h5>
                <h6>Founder & Chairman</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet</p>
              </div>
              <div class="social-media-icon">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="new-card">

            <div class="float-left img-fix2">
              <img src="images/team-1.png" alt="">
            </div>
            <div class="card-body  team-body">
              <div class="team-name">
                <h5>Michael Green</h5>
                <h6>Founder & Chairman</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet</p>
              </div>
              <div class="social-media-icon">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="new-card">

            <div class="float-left img-fix2">
              <img src="images/team-2.png" alt="">
            </div>
            <div class="card-body  team-body">
              <div class="team-name">
                <h5>Michael Green</h5>
                <h6>Founder & Chairman</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet</p>
              </div>
              <div class="social-media-icon">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="new-card">

            <div class="float-left img-fix2">
              <img src="images/team-3.png" alt="">
            </div>
            <div class="card-body  team-body">
              <div class="team-name">
                <h5>John Doe</h5>
                <h6>Founder & Chairman</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet</p>
              </div>
              <div class="social-media-icon">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>

            </div>
          </div>
        </div>

        <div class="row animate__animated animate__zoomIn wow zoomIn">
          <div class="col-sm-6 col-lg-3">
            <div class="new-card">

              <div class="float-left img-fix2">
                <img src="images/team-1.png" alt="">
              </div>
              <div class="card-body  team-body">
                <div class="team-name">
                  <h5>John Doe</h5>
                  <h6>Founder & Chairman</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet</p>
                </div>
                <div class="social-media-icon">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="new-card">

              <div class="float-left img-fix2">
                <img src="images/team-1.png" alt="">
              </div>
              <div class="card-body  team-body">
                <div class="team-name">
                  <h5>Michael Green</h5>
                  <h6>Founder & Chairman</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet</p>
                </div>
                <div class="social-media-icon">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="new-card">

              <div class="float-left img-fix2">
                <img src="images/team-2.png" alt="">
              </div>
              <div class="card-body  team-body">
                <div class="team-name">
                  <h5>Michael Green</h5>
                  <h6>Founder & Chairman</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet</p>
                </div>
                <div class="social-media-icon">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="new-card">

              <div class="float-left img-fix2">
                <img src="images/team-3.png" alt="">
              </div>
              <div class="card-body  team-body">
                <div class="team-name">
                  <h5>John Doe</h5>
                  <h6>Founder & Chairman</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet</p>
                </div>
                <div class="social-media-icon">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>








  <!-- banner end -->
  <!-- brand logo start-->
  <section class="brand-logo">
    <div class="container">
      <p>Trusted by <span>100k+ people</span></p>
      <div class="brand-bg animate__animated animate__zoomIn wow zoomIn">
        <ul class="brand-list">
          <li><a href="#"><img src="images/brand-1.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-2.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-3.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-4.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-1.png" alt="" title=""></a></li>
          <li><a href="#"><img src="images/brand-3.png" alt="" title=""></a></li>
        </ul>
      </div>
    </div>
  </section>
  <%- include('footer') -%>