<!DOCTYPE html>
<html lang="en">

<head>
  <title>Relai</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Style CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- fonts CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Animate CSS -->
</head>

<body>


  <div class="wrapper dashboard">
    <nav class="navbar navbar-expand-lg d-block d-xs-none d-lg-none">
      <a class="navbar-brand" href="index.html"><img src="images/logo-2.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="user-right">
        <ul class="login-menu">
          <li class="dropdown"><a href="#" class="dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/recent-user-1.png"
                width="40" height="40" class="rounded-circle"> John <i class="fa fa-angle-down"
                aria-hidden="true"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Setting</a>
              <a class="dropdown-item" href="#">Account</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="dashboard-professional.html"><img class="act-img"
                src="images/dashboard-active.png"><img src="images/dashboard.png"> Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="track-your-progress-professionals.html"><img class="act-img"
                src="images/track-active.png"><img src="images/track.png"> Track your progress</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="property.html"><img class="act-img" src="images/dreamhome-active.png"><img
                src="images/dreamhome.png"> Properties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="complaints.html"><img class="act-img" src="images/complaints-active.png"><img
                src="images/complaints.png"> Complaints</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="professionals-to-do-list.html"><img class="act-img"
                src="images/to-do-list-active.png"><img src="images/to-do-list.png"> To do list</a>
          </li>
        </ul>
      </div>
    </nav>
    <header class="dashboard-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2 col-lg-2 left-head">
            <h1><a class="logo text-center" href="index.html"><img src="images/logo-2.png"></a></h1>
          </div>
          <div class="col-sm-12 col-lg-10 right-head">
            <div class="right-top-nav">
              <div class="row">
                <div class="col-sm-6 col-lg-6">
                  <div id="custom-search-input">
                    <div class="input-group col-md-12">
                      <input type="text" class="form-control" placeholder="Search" />
                      <span class="input-group-btn">
                        <button class="btn btn-info" type="button">
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


    <div class="dashboard-wpr">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs-down">
            <div class="user-login text-center">
              <div class="user-profile">
                <img src="images/user-3.png" alt="" title="">
              </div>
              <div class="user-name">
                <h6>John Doe,<span><i>
                      Architect</i>
                  </span></h6>

                <a href="#"><i>johndoe12@gmail.com</i></a>
              </div>
            </div>
            <ul class="dashboard-nav">
              <li>
                <a href="dashboard-professional.html"><img class="act-img" src="images/dashboard-active.png"><img
                    src="images/dashboard.png"> Dashboard</a>
              </li>
              <li class="active font-change">
                <a href="track-your-progress-professionals.html"><img class="act-img" src="images/track-active.png"><img
                    src="images/track.png"> Track your progress</a>
              </li>
              <li>
                <a href="property.html"><img class="act-img" src="images/dreamhome-active.png"><img
                    src="images/dreamhome.png"> Properties</a>
              </li>
              <li>
                <a href="complaints.html"><img class="act-img" src="images/complaints-active.png"><img
                    src="images/complaints.png"> Complaints</a>
              </li>

              <li>
                <a href="professionals-to-do-list.html"><img class="act-img" src="images/to-do-list-active.png"><img
                    src="images/to-do-list.png"> To do list</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-lg-10">
            <div class="upper-new-heading">
              Track your progress
            </div>
            <div class="dashboard-inner">
              <div class="docs-files-section progress-box">
                <div class="row">
                  <div class="col-md-3">
                    <div class="left-side-content-progress">
                      <h3>Nacary Apartment</h3>
                      <p><img src="images/dreamhome.png"> Sudhirman, Central Jakarta</p>
                      <ul>
                        <li><img src="images/recent-user-1.png"></li>
                        <li><img src="images/recent-user-2.png"></li>
                        <li><img src="images/recent-user-3.png"></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="progress-line">
                      <ul>
                        <li class="progress-1"><a href="property-detail.html"><img
                              src="images/white-prgress=arrow.png"></a> <span>Phase
                            A</span></li>
                        <li class="progress-2"><img src="images/white-prgress=arrow.png"> <span>Phase B</span></li>
                        <li class="progress-3"><img src="images/white-prgress=arrow.png"> <span>Phase C</span></li>
                        <li class="progress-4"><img src="images/white-prgress=arrow.png"> <span>Phase D</span></li>
                        <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase E</span></li>
                        <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase F</span></li>
                      </ul>
                    </div>
                    <div class="time-schedule">
                      <ul>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="docs-files-section progress-box">
                <div class="row">
                  <div class="col-md-3">
                    <div class="left-side-content-progress">
                      <h3>Nacary Apartment</h3>
                      <p><img src="images/dreamhome.png"> Sudhirman, Central Jakarta</p>
                      <ul>
                        <li><img src="images/recent-user-1.png"></li>
                        <li><img src="images/recent-user-2.png"></li>
                        <li><img src="images/recent-user-3.png"></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="progress-line">
                      <ul>
                        <li class="progress-1"><a href="property-detail.html"><img
                              src="images/white-prgress=arrow.png"></a> <span>Phase
                            A</span></li>
                        <li class="progress-2"><img src="images/white-prgress=arrow.png"> <span>Phase B</span></li>
                        <li class="progress-3"><img src="images/white-prgress=arrow.png"> <span>Phase C</span></li>
                        <li class="progress-4"><img src="images/white-prgress=arrow.png"> <span>Phase D</span></li>
                        <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase E</span></li>
                        <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase F</span></li>
                      </ul>
                    </div>
                    <div class="time-schedule">
                      <ul>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="docs-files-section progress-box">
                <div class="row">
                  <div class="col-md-3">
                    <div class="left-side-content-progress">
                      <h3>Nacary Apartment</h3>
                      <p><img src="images/dreamhome.png"> Sudhirman, Central Jakarta</p>
                      <ul>
                        <li><img src="images/recent-user-1.png"></li>
                        <li><img src="images/recent-user-2.png"></li>
                        <li><img src="images/recent-user-3.png"></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="progress-line">
                      <ul>
                        <li class="progress-1"><a href="property-detail.html"><img src="images/white-prgress=arrow.png">
                          </a><span>Phase
                            A</span></li>
                        <li class="progress-2"><img src="images/white-prgress=arrow.png"> <span>Phase B</span></li>
                        <li class="progress-3"><img src="images/white-prgress=arrow.png"> <span>Phase C</span></li>
                        <li class="progress-4"><img src="images/white-prgress=arrow.png"> <span>Phase D</span></li>
                        <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase E</span></li>
                        <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase F</span></li>
                      </ul>
                    </div>
                    <div class="time-schedule">
                      <ul>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            2 weeks
                          </div>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                        <li>
                          <div>
                            <img src="images/track-active.png">
                            5,000 $
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $(".sidenav ul li").click(function () {
        $(".sidenav ul li").removeClass("active");
        $(this).addClass("active");
      });
    });
    $(document).ready(function () {
      $(".right-navbar li").click(function () {
        $("right-navbar li").removeClass("active");
        $(this).addClass("active");
      });
    });
  </script>
</body>

</html>