<%- include('dashboard_header')-%>
  <div class="dashboard-wpr">
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-2 sidenav hidden-xs-down">
          <div class="user-login text-center">
            <div class="user-profile">
              <img src="images/user-3.png" alt="" title="">
            </div>
            <div class="user-name">
              <h6>John Doe,<span><i>
                    Architect</i>
                </span></h6>

              <a href="#"><i>johndoe12@gmail.com</i></a>
            </div>
          </div>
          <%- include('sidebar')-%>
        </div>
        <div class="col-sm-12 col-lg-10">
          <div class="upper-new-heading">
            Track your progress
          </div>
          <div class="dashboard-inner">
            <div class="docs-files-section progress-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="left-side-content-progress">
                    <h3>Nacary Apartment</h3>
                    <p><img src="images/dreamhome.png"> Sudhirman, Central Jakarta</p>
                    <ul>
                      <li><img src="images/recent-user-1.png"></li>
                      <li><img src="images/recent-user-2.png"></li>
                      <li><img src="images/recent-user-3.png"></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="progress-line">
                    <ul>
                      <li class="progress-1"><a href="/property-detail"><img src="images/white-prgress=arrow.png"></a>
                        <span>Phase
                          A</span></li>
                      <li class="progress-2"><img src="images/white-prgress=arrow.png"> <span>Phase B</span></li>
                      <li class="progress-3"><img src="images/white-prgress=arrow.png"> <span>Phase C</span></li>
                      <li class="progress-4"><img src="images/white-prgress=arrow.png"> <span>Phase D</span></li>
                      <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase E</span></li>
                      <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase F</span></li>
                    </ul>
                  </div>
                  <div class="time-schedule">
                    <ul>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="docs-files-section progress-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="left-side-content-progress">
                    <h3>Nacary Apartment</h3>
                    <p><img src="images/dreamhome.png"> Sudhirman, Central Jakarta</p>
                    <ul>
                      <li><img src="images/recent-user-1.png"></li>
                      <li><img src="images/recent-user-2.png"></li>
                      <li><img src="images/recent-user-3.png"></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="progress-line">
                    <ul>
                      <li class="progress-1"><a href="/property-detail"><img src="images/white-prgress=arrow.png"></a>
                        <span>Phase
                          A</span></li>
                      <li class="progress-2"><img src="images/white-prgress=arrow.png"> <span>Phase B</span></li>
                      <li class="progress-3"><img src="images/white-prgress=arrow.png"> <span>Phase C</span></li>
                      <li class="progress-4"><img src="images/white-prgress=arrow.png"> <span>Phase D</span></li>
                      <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase E</span></li>
                      <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase F</span></li>
                    </ul>
                  </div>
                  <div class="time-schedule">
                    <ul>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="docs-files-section progress-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="left-side-content-progress">
                    <h3>Nacary Apartment</h3>
                    <p><img src="images/dreamhome.png"> Sudhirman, Central Jakarta</p>
                    <ul>
                      <li><img src="images/recent-user-1.png"></li>
                      <li><img src="images/recent-user-2.png"></li>
                      <li><img src="images/recent-user-3.png"></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="progress-line">
                    <ul>
                      <li class="progress-1"><a href="/property-detail"><img src="images/white-prgress=arrow.png">
                        </a><span>Phase
                          A</span></li>
                      <li class="progress-2"><img src="images/white-prgress=arrow.png"> <span>Phase B</span></li>
                      <li class="progress-3"><img src="images/white-prgress=arrow.png"> <span>Phase C</span></li>
                      <li class="progress-4"><img src="images/white-prgress=arrow.png"> <span>Phase D</span></li>
                      <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase E</span></li>
                      <li class=""><img src="images/white-prgress=arrow.png"> <span>Phase F</span></li>
                    </ul>
                  </div>
                  <div class="time-schedule">
                    <ul>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          2 weeks
                        </div>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                      <li>
                        <div>
                          <img src="images/track-active.png">
                          5,000 $
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $(".sidenav ul li").click(function () {
        $(".sidenav ul li").removeClass("active");
        $(this).addClass("active");
      });
    });
    $(document).ready(function () {
      $(".right-navbar li").click(function () {
        $("right-navbar li").removeClass("active");
        $(this).addClass("active");
      });
    });
  </script>
  </body>

  </html>