/* .isa_success{
    color: #4F8A10;
    background-color: #DFF2BF;
    margin: 10px 0px;
    padding: 12px;
    width: 85%;
    FONT-WEIGHT: 600;
    font-size: 14px;
    letter-spacing: 1px;
}  */

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px; 
    width: 100%;
    FONT-WEIGHT: 600;
    letter-spacing: 1px;
    display: flex;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin: 10px 7px;
    font-size: 2em;
    vertical-align: middle;
    display: flex;
}


.active_role span {
    font-weight: 600; 
}
.active_role img {
    height: 50px !important;
}
#loading {
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    position: relative;
    display: block;
    opacity: 0.7;
    background-color: transparent;
    z-index: 99;
    text-align: center;
  }
  
  #loading-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    transform: translate(-50%, -50%);
  }
  div#message_board {
    max-height: 500px;
    overflow-y: scroll;
}
/* Let's get this party started */
#message_board::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
#message_board::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
#message_board::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(252, 250, 250); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#message_board::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(252, 250, 250);
}

.message-content {
    padding-left: 10px;
}
.complaint_image{
    cursor:zoom-in;
    cursor:-webkit-zoom-in;
    cursor:-moz-zoom-in;
    width:10%;
    margin: 0px 2px 20px 0px;
}
.uploaded_img {
    width: 10%;
    margin-left: 15px;
    border-radius: 5px;
    /*border: 2px solid #ccc;*/
}
#mycomplent_details_form a.upload-any {
    display: flex;
    width: 50%;
}

.comp_uploaded_img img#uploaded_img {
    width: 15%;
    padding: 6px;
    border-radius: 10px;
}
.comp_uploaded_img {
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
}
    
/* .complaints a:hover {
    color: #333  !important;

} */

ul.docs-list li span {
    white-space: nowrap;
    width: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .permission-modal .modal-footer {
    display: list-item;
} */
span#comment-error {
    color: red;
}
.complaints a:hover {
    color: #333 !important;
}
.complaints .btn-complaint:hover {
    color: #fff !important;
}
.message-user-img img {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.loader-box {
    background-color: rgba(0, 0, 0,0.7);
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    }
    .loader-box img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ddd;
    }

    ul#ui-id-1 {
        background: #fff;
        height: 200px;
        overflow-y: auto;
        margin-bottom: 0px;
    }
    .section_heading {
        display: flex;
        width: 100%;
    }
    .heading_section {
        width: 50%;
    }
    .property_filter_section {
        width: 50%;
        float: right;
    }
    div#filter_data .notfound_msg {
        text-align: center;
        width: 100%;
    }
    .Phases_section {
        display: none;
    }
    .buyer_phase_task_list .btn-group{
        width:100%;
    }
    button.multiselect.dropdown-toggle.btn.btn-default{ 
        width: 100%;
        text-align: left;
        background-color: #fff;
        background-clip: padding-box;
        color:gray;
    }
    ul.multiselect-container.dropdown-menu{
        filter: initial !important;
    }
    #addTaskForm .btn-group,#addTaskForm_mydreamhome_detial .btn-group{
        display: none;
        width: 100%;
        text-align: left;
        margin-top: 10px;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        height: 48px;
        margin-left: 0px;
        margin-bottom: 0px;
        border-radius: 10px;
        margin-top: 15px;
        padding-right: 20px;
    }

    .multiselect-container>li>a>label {
        padding: 3px 20px 3px 20px !important;
    }
    ul.multiselect-container.dropdown-menu.show label.checkbox:focus {
        border: 0px solid !important;
        outline: 0 !important;
    }

    ul.multiselect-container.dropdown-menu.show a {
        color: #495057;
    }
    
    ul.multiselect-container.dropdown-menu.show {
        overflow: auto;
        width: 500px;
    }
    a.showMore {
        display: block;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 20px;
        color: #0077c8;
        text-decoration: none;
      }
      a.showMore::after {
        content: "+ VIEW MORE";
      }
      a.showMore.showLess::after {
        content: "- VIEW LESS";
      }
      .inner-box-qualification {
        height: 209px;
        overflow: auto;
    }